@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

root: {
    --primary: #5156B8;
    --color-dark: #2f2f2f;
    --color-light: #e2e2e2;
}

.light {
    color: var(--color-light);
    background: var(--color-dark);
}

.dark {
    color: var(--color-dark);
    background: var(--color-light);
}

.primary {
    color: var(--primary);
}
